defaults: &defaults
  adapter: postgresql
  encoding: unicode
  reconnect: true
  pool: 5
  username: root
  password:

development:
  <<: *defaults
  database: hound_partners_dev

test:
  <<: *defaults
  database: hound_partners_test
