<% content_for :title do %>
  My super sweet dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row='1' data-col='1' data-sizex='2' data-sizey='1'>
      <div id="pie-donut" style="width: 610px; height: 360px; background: red;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="line-basic" style="width: 610px; height: 360px; background: #ccc;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="column-drilldown" style="width: 610px; height: 360px;"></div>

      <pre id="tsv" style="display:none">
        Core Investment 01	26.61%
        Toe Hold 01	20.15%
        Killed 01	20.36%
        Killed 12	22.36%
        Toe Hold 12	30.09%
        Core Investment 22	6.96%
      </pre>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>
  </ul>
</div>

<div class='tables'>
  <div class='left-table pull-left'>
    <table class='table'>
      <thead>
        <tr>
          <td><b>John Smith</b></td>
          <td>AAPL</td>
          <td>Long</td>
          <td>Live</td>
          <td class='time'>Time <b>120 hours</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>S. S.</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
          <td class='result' rowspan='3'>
            Action Taken <br><br>
            <b>Core Investment</b>
            <br> 02/06/2014
          </td>
        </tr>
        <tr>
          <td>D. D.</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
        </tr>
        <tr>
          <td>Memo</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='right-table pull-right'>
    <table class='table'>
      <thead>
        <tr>
          <td><b>John Smith</b></td>
          <td>AAPL</td>
          <td>Long</td>
          <td>Live</td>
          <td class='time'>Time <b>120 hours</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>S. S.</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
          <td class='result' rowspan='3'>
            Action Taken <br><br>
            <b>Core Investment</b>
            <br> 02/06/2014
          </td>

        </tr>
        <tr>
          <td>D. D.</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
        </tr>
        <tr>
          <td>Memo</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
