<% content_for :title do %>
  My super sweet dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row='1' data-col='1' data-sizex='2' data-sizey='1'>
      <div id="pie-donut" style="width: 610px; height: 360px; background: red;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="line-basic" style="width: 610px; height: 360px; background: #ccc;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div id="column-drilldown" style="width: 610px; height: 360px;"></div>

      <pre id="tsv" style="display:none">
        Browser Version	Total Market Share
        Microsoft Internet Explorer 8.0	26.61%
        Microsoft Internet Explorer 9.0	16.96%
        Chrome 18.0	8.01%
        Chrome 19.0	7.73%
        Firefox 12	6.72%
        Microsoft Internet Explorer 6.0	6.40%
        Firefox 11	4.72%
        Microsoft Internet Explorer 7.0	3.55%
        Safari 5.1	3.53%
        Firefox 13	2.16%
        Firefox 3.6	1.87%
        Opera 11.x	1.30%
        Chrome 17.0	1.13%
        Firefox 10	0.90%
        Safari 5.0	0.85%
        Firefox 9.0	0.65%
        Firefox 8.0	0.55%
        Firefox 4.0	0.50%
        Chrome 16.0	0.45%
        Firefox 3.0	0.36%
        Firefox 3.5	0.36%
        Firefox 6.0	0.32%
        Firefox 5.0	0.31%
        Firefox 7.0	0.29%
        Proprietary or Undetectable	0.29%
        Chrome 18.0 - Maxthon Edition	0.26%
        Chrome 14.0	0.25%
        Chrome 20.0	0.24%
        Chrome 15.0	0.18%
        Chrome 12.0	0.16%
        Opera 12.x	0.15%
        Safari 4.0	0.14%
        Chrome 13.0	0.13%
        Safari 4.1	0.12%
        Chrome 11.0	0.10%
        Firefox 14	0.10%
        Firefox 2.0	0.09%
        Chrome 10.0	0.09%
        Opera 10.x	0.09%
        Microsoft Internet Explorer 8.0 - Tencent Traveler Edition	0.09%
      </pre>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
    </li>
  </ul>
</div>

<div class='tables'>
  <div class='left-table pull-left'>
    <table class='table'>
      <thead>
        <tr>
          <td><b>John Smith</b></td>
          <td>AAPL</td>
          <td>Long</td>
          <td>Live</td>
          <td class='time'>Time <b>120 hours</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>S. S.</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
          <td class='result' rowspan='3'>
            Action Taken <br><br>
            <b>Core Investment</b>
            <br> 02/06/2014
          </td>
        </tr>
        <tr>
          <td>D. D.</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
        </tr>
        <tr>
          <td>Memo</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='right-table pull-right'>
    <table class='table'>
      <thead>
        <tr>
          <td><b>John Smith</b></td>
          <td>AAPL</td>
          <td>Long</td>
          <td>Live</td>
          <td class='time'>Time <b>120 hours</b></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>S. S.</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
          <td class='result' rowspan='3'>
            Action Taken <br><br>
            <b>Core Investment</b>
            <br> 02/06/2014
          </td>

        </tr>
        <tr>
          <td>D. D.</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
        </tr>
        <tr>
          <td>Memo</td>
          <td>Start: 15/04/2014</td>
          <td>End: 16/04/2014</td>
          <td>Hours: 10</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
